a{color:#eee; text-decoration:none}

a:hover{color:#fff; text-decoration:underline}

img{border:0}

.block h1 {height:89px; width:965px; position:absolute; top:-20px; left:-60px; padding:24px 0px 0px 55px; font-family:Times New Roman; color:#fff; font-size:16pt; font-weight:normal; text-shadow:2px 2px 1px #64a2b6; z-index:9}

.block h2 a, .block h1 a{text-decoration:none; color:#fff}

.block h2 a:hover, .block h1 a:hover{text-decoration:none; color:#fff}

.block {
    padding: 10px;
    border: 1px solid #375A7F;
    margin-bottom: 10px;
}

.object, .ytobject{border:3px solid #fff; background-color:#000; text-align:center}

.mod_tools{background:url(img/bg_object.png); margin:0px 0px 10px 0px; z-index:15; position:relative}
.mod_tools a{display:inline-block; padding:10px; color:#CCC; font-weight:bold}

.mod_tools a:hover{color:#FFF}

.object .podpis{background:url('../img/black_point.png'); color:#eee; position:absolute; bottom:0; width:100%; padding:9px 0px 9px 0px; font-size:12px; opacity:0; visibility:hidden; -webkit-transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; -o-transition:all 0.2s ease-out; transition:all 0.2s ease-out}

.ytobject .podpis{background:url('../img/black_point.png'); color:#eee; position:absolute; bottom:0; width:100%; padding:9px 0px 9px 0px; font-size:12px}

.object:hover .podpis{opacity:1; visibility:visible}

.prawa{float:right; padding-right:6px; font-weight:bold}

.prawa >a.thumb_up{color:#addc8a; text-decoration:none; background:url('../img/thumb_up.png') left no-repeat; padding:5px 0px 4px 22px; margin-right:10px}

.prawa >a:hover.thumb_up{color:#75ca35; text-decoration:none; background:url('../img/thumb_up_hover.png') left no-repeat}

.prawa >a.thumb_down{color:#faa38b; text-decoration:none; background:url('../img/thumb_down.png') right no-repeat; padding:4px 22px 8px 0px; margin-left:10px}

.prawa >a:hover.thumb_down{color:#d44048; text-decoration:none; background:url('../img/thumb_down_hover.png') right no-repeat}

.lewa{float:left; padding-left:6px; font-weight:bold}

.lewa a{color:#c6c6c6; text-decoration:none}

.lewa a:hover{color:#eee; text-decoration:none}

.blue{background-color:#485f6f; background-image:url('../img/info/blue_arrow.png'),url('../img/info/blue_icon.png'); background-position:left,right; background-repeat:no-repeat,no-repeat; text-shadow:1px 1px 0px #3a4d5a; height:27px; padding:11px 0px 0px 26px}

.brown{background-color:#6e5b48; background-image:url('../img/info/brown_arrow.png'),url('../img/info/brown_icon.png'); background-position:left,right; background-repeat:no-repeat,no-repeat; text-shadow:1px 1px 0px #594a3a; height:27px; padding:11px 0px 0px 26px}

.red{background-color:#6e4749; background-image:url('../img/info/red_arrow.png'),url('../img/info/red_icon.png'); background-position:left,right; background-repeat:no-repeat,no-repeat; text-shadow:1px 1px 0px #533637; height:27px; padding:11px 0px 0px 26px}

.green{background-color:#626f48; margin-left:19px; text-shadow:1px 1px 0px #4d5739; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:10px 10px 2px 10px}

.face{background-color:#3B5998; background-image:url('../img/info/descargar.png'); background-position:right; background-repeat:no-repeat; margin-left:19px; text-shadow:1px 1px 0px #4d5739; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; height:27px; padding:10px 10px 2px 10px}

#footer{color:#b7b7b7; font-size:13px}

#footer a{color:#b7b7b7}

#footer .links{font-weight:bold}

#footer .links a{color:#b7b7b7; text-decoration:none; margin:0px 0px 0px 0px}

#footer .links a:hover{text-decoration:none; border-bottom:1px solid #f5f5f5}

#footer .links img{position:relative; margin:0px 5px -2px 5px}
#footer .copyrights{display:block; margin-top:12px; font-size:12px}

.block form{font-size:16px; text-align:center; padding-bottom:10px; width:80%; margin:0 auto}

.block form a{font-size:12px; text-align:center; padding-bottom:10px; width:80%; margin:0 auto}

.block label{float:left; width:25%; margin-right:20px; padding-top:3px; text-align:left; height:25px}

.block label .required{color:orange}

.block label img{border:1px solid #282828}

.block input[type~=text], .block input[type~=password], .block input[type~=email], .block input[type~=file]{background:#d6d6d6 url('../img/bg_input.png'); height:25px; padding:0px 0px 0px 0px; border:1px solid #545454; outline:1px solid #282828; padding-left:4px; color:#efefef; float:left; width:70%; margin-bottom:10px; font-weight:bold}

.block textarea{background:#d6d6d6 url('../img/bg_input.png'); height:100px; padding:0px 0px 0px 0px; border:1px solid #545454; outline:1px solid #282828; padding-left:4px; color:#efefef; float:left; width:70%; margin-bottom:10px; font-weight:bold}

.block select{height:25px; padding:0px 0px 0px 0px; padding-left:4px; float:left; width:71%; margin-bottom:10px; font-weight:bold; border:1px solid #545454; outline:1px solid #282828; background:#454545; color:#efefef}

.block option{background:#444}

.block button, .block input[type~=submit], .block input[type~=button]{background:#d6d6d6 url('../img/bg_button.png'); height:25px; padding:0px 0px 0px 0px; border:1px solid #545454; outline:1px solid #282828; padding-left:10px; padding-right:10px; color:#efefef; margin-top:5px; font-weight:bold}

.block button:active, .block input[type~=submit]:active, .block input[type~=button]:active{background:#d6d6d6 url('img/bg_button.png') 0px -20px}

.block form div.options{float:left; width:70%; text-align:left; margin-bottom:10px}

#display_error{background:url('../img/title_full_ribbon.png') no-repeat; height:89px; width:1060px; padding:24px 0px 0px 55px; margin:20px -50px; font-family:Times New Roman; color:#fff; font-size:16pt; font-weight:normal; text-shadow:2px 2px 1px #64a2b6; z-index:9}

.msg{text-shadow:1px 1px 0px #4A4A4A; color:#EFEFEF; border-radius:6px; padding:6px 10px; margin-bottom:15px}

.error{background:#965959}

.alert{background:#B5B057}

.good{background:#7C9A00}

.select_avatar{background:#424242; width:250px; border-radius:6px; padding:10px 5px 5px 5px}

#tabs ul{border-bottom:1px solid #505050; margin-bottom:15px}

#tabs ul li{display:inline; font-size:16px; padding:6px 15px 2px 15px}

#tabs ul li.active{border-top:3px solid #505050; border-right:1px solid #505050; border-left:1px solid #505050; margin-top:-3px; font-weight:bold; background:#363636}

#tabs ul li:first-child{margin-left:70px}

#tabs ul li a{color:#c2c2c2; text-decoration:none}

#tabs ul li.active a{color:#eee; text-decoration:none; cursor:default}

table{font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif; font-size:12px; border-collapse:collapse; text-align:left}

table th{font-size:14px; font-weight:normal; color:#eee; padding:10px 8px; border-bottom:2px solid #eee}

table td{border-bottom:1px solid #424242; color:#8a8a8a; padding:6px 8px}

table td a{color:#8a8a8a}

table tbody tr:hover td{color:#eee}

table tbody tr:hover a{color:#eee}

.inbox_buttons{float:right; margin-right:112px}

.inbox_button{background:rgba(0,0,0,0.1); border-radius:5px; padding:4px; font-size:12px; text-transform:uppercase; text-shadow:0; font-weight:normal; font-family:Arial; margin-left:6px}

.inbox_button:hover{background:rgba(0,0,0,0.2)}

#pm_notification{background:rgba(0,0,0,0.6); border-radius:6px; padding:6px; top:30px; left:20px; font-color:#fff; position:fixed; z-index:777; border:1px solid #eee}

#pm_notification .close{font-weight:bold; padding-left:10px}

blockquote{border:1px solid #2a2a2a; margin:0; background:#424242; padding:4px; font-style:italic}

blockquote cite{font-weight:bold; border-bottom:1px solid #363636; font-style:normal; display:block; margin:4px 0}

pre{border:1px solid #2a2a2a; margin:0; background:#424242; padding:4px; overflow:auto; height:auto; max-height:200px}

#vote_response{position:fixed; bottom:15px; left:50%; width:200px; padding:5px; font-size:13px; text-align:center; margin-left:-100px; color:#0980a8; border:1px solid #b3d9e6; border-radius:5px; background:#d8eff6; display:none; z-index:100}

a.add_fav{padding:5px 0 5px 23px; margin-left:10px; background:url(../img/heart.png) no-repeat left center}

a.add_fav:hover{background:url(../img/heart_hover.png) no-repeat left center}

a.del_fav{padding:5px 0 5px 23px; margin-left:10px; background:url(../img/heart_hover.png) no-repeat left center}

#nastepny .prev a{font-weight:bold; color:#363636; text-decoration:none; font-size:20px}

#nastepny .prev a:hover{font-weight:bold; color:#f0f0f0; text-decoration:none; font-size:20px}

#nastepny .next a{font-weight:bold; color:#363636; text-decoration:none; font-size:20px}

#nastepny .next a:hover{font-weight:bold; color:#f0f0f0; text-decoration:none; font-size:20px}

#nastepny{height:20px}

#nastepny .prev{border:2px solid #363636; padding:10px 10px 10px 10px; background-color:#96C934; font-weight:bold; border-radius:15px;   z-index:100; margin-top:2px; float:left}

#nastepny .next{border:2px solid #363636; padding:10px 10px 10px 10px; background-color:#96C934; font-weight:bold; border-radius:15px; z-index:100; margin-top:2px; float:right}

.botonshare{float:left; padding-left:6px; text-align:center}

a.buttonRegistro{display:-moz-inline-stack; display:inline-block; width:129px;   height:33px;   background:url("img/button.png") no-repeat;  line-height:33px;  vertical-align:text-middle;  text-align:center;  color:#fff;  font-family:Calibri; font-size:18px; font-weight:bold; font-style:normal; text-shadow:none}

a.buttonRegistro >span{display:-moz-inline-block}

#contentSube{border:2px solid black; padding:10px; margin:15px 2px; background:#212121; overflow:visible; font-family:Arial,Verdana,Geneva,Kalimati,sans-serif; font-size:14px; color:white}

#contentSube .strony{text-align:center; margin:0 auto; margin-top:30px; font-size:14px; font-weight:bold}

#preview-container{text-align:left; border:1px solid #dedede; width:588px; background:#000}

#form{margin-left:50px; text-align:center}

.tle{color:gray; font-weight:bold; font-size:18px; padding:6px 0 10px 0}

#preview-all{width:500px; overflow:hidden; border:4px solid #fff; font-size:12px}

.pad{padding:40px}

#preview{border:1px solid #fff; width:500px; text-align:center}

.padd{padding:3px 3px 0 3px}

.preview-form{background:#000; color:white; width:500px; text-align:center; border:none; outline:0}

.preview-form:focus{outline:#00f solid 1px}

.h1{font-size:33px}

.h2{font-size:14px}

.titulo, h1, h2 {margin-top: 0;}

.button, .button:hover{background:#009200; padding:8px 15px; border-radius:5px; border:2px solid #CCC; color:#FFF; font-size:19px; font-weight:bold; text-decoration:none}

.ColorRed{color:red; font:bold}

.demot{padding:20px; margin:0 auto 0 auto; background:#1a1a1a; overflow:visible; width:70%; text-align:center}

#upload label{width:20%; float:left; margin:2px 0}

#upload input{width:60%; margin:2px 0; float:right}

#img4 img, embed, iframe, object, video{max-width:100%; min-width:100%}

#etiquetas{margin-top:-25px}

.relacionados{width:940px; height:230px}

.also_interested{border-right:5px solid #ddd; width:620px}

.also_interested img{padding:1px; width:200px; height:200px}

.also_interested img:hover{-webkit-box-shadow:-5px -5px 15px -5px #888;  -moz-box-shadow:-5px -5px 15px -5px #888}

.also_interested h2{color:#363636}

.anuncio{float:right; width:300px; height:225px; margin-top:-255px}


/*version 1.0 responsive*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

.tagcloud ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud ul li {
	display: inline-block;
	margin: 0 0 .3em 1em;
	padding: 2px;
}
.tagcloud ul li a {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em;
	background-color: #375A7F;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud ul li a::before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	width: 0;
	height: 0;
	border-color: transparent #375A7F transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud ul li a::after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 100%;
}
.tagcloud ul li span {
	display: block;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tagcloud ul li a:hover {
	background-color: #555;
	color: #fff;
}
.tagcloud ul li a:hover::before {
	border-right-color: #555;
}

/*Botones sociales*/

.buttons {
  display: inline-block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.buttons:hover, .buttons:active, .buttons:visited, .buttons:link{
	text-decoration: none;
	color: #fff;
}

.me-gusta {
  background-color: #008600;
}
.me-gusta:active {
  top: 2px;
  box-shadow: 0 2px 0 #199219;
}
.me-gusta:hover {
  background-color: #199219;
}
.no-me-gusta {
  background-color: #CD0C06;
}
.no-me-gusta:active {
  top: 2px;
  box-shadow: 0 2px 0 #d2241e;
}
.no-me-gusta:hover {
  background-color: #d2241e;
}
.facebook {
  background-color: #3b5998;
}
.facebook:hover {
  background-color: #354F84;
}
.facebook:active {
  top: 2px;
  box-shadow: 0 2px 0 #1B3D82;
}
.twitter {
  background-color: #1daee3;
}
.twitter:active {
  top: 2px;
  box-shadow: 0 2px 0 #0078BD;
}
.twitter:hover {
  background-color: #1397D8;
}
.google-plus {
  background-color: #d34836;
}
.google-plus:active {
  top: 2px;
	box-shadow: 0 2px 0 #BA2714;
}
.google-plus:hover {
  background-color: #D04829;
}
.pinterest {
  background-color: #cc2222;
}
.pinterest:active {
  top: 2px;
  box-shadow: 0 2px 0 #d13838;
}
.pinterest:hover {
  background-color: #d13838;
}