.block h1 {
	height:89px; 
	width:965px; 
	position:absolute; 
	top:-20px; 
	left:-60px; 
	padding:24px 0px 0px 55px; 
	font-family:Times New Roman; 
	color:#fff; 
	font-size:16pt; 
	font-weight:normal; 
	text-shadow:2px 2px 1px #64a2b6; 
	z-index:9;
}

.block h2 a, .block h1 a{text-decoration:none; color:#fff}

.block h2 a:hover, .block h1 a:hover{
	text-decoration:none; 
	color: #0ce3ac;
    }

.block {
    padding-bottom: 15px;
    border-bottom: 2px dashed #375A7F;
    margin-bottom: 15px;
}

.object, .ytobject{border:3px solid #fff; background-color:#000; text-align:center}

.mod_tools{margin:0px 0px 10px 0px; z-index:15; position:relative}
.mod_tools a{display:inline-block; padding:10px; color:#CCC; font-weight:bold}
.mod_tools a:hover{color:#FFF}

#footer{color:#b7b7b7; font-size:13px}
#footer a{color:#b7b7b7}
#footer .links{
	font-weight:bold;
	margin-top:12px; 
}
#footer .links a{
	color:#b7b7b7; 
	text-decoration:none;
	margin:0px 0px 0px 0px;
	margin-left: 10px;
}
#footer .links a:hover{
	text-decoration:none; 
	border-bottom:1px solid #f5f5f5;
}
#footer .links img{position:relative; margin:0px 5px -2px 5px}
#footer .copyrights{display:block; font-size:12px}

#display_error{height:89px; width:1060px; padding:24px 0px 0px 55px; margin:20px -50px; font-family:Times New Roman; color:#fff; font-size:16pt; font-weight:normal; text-shadow:2px 2px 1px #64a2b6; z-index:9}
.msg{text-shadow:1px 1px 0px #4A4A4A; color:#EFEFEF; border-radius:6px; padding:6px 10px; margin-bottom:15px}
.error{background:#965959}
.alert{background:#B5B057}
.good{background:#7C9A00}

.select_avatar{
	background:#424242; 
	width:100%; border-radius:6px; 
	padding:10px 5px 5px 5px
}

table{font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif; font-size:12px; border-collapse:collapse; text-align:left}
table th{font-size:14px; font-weight:normal; color:#eee; padding:10px 8px; border-bottom:2px solid #eee}
table td{border-bottom:1px solid #424242; color:#8a8a8a; padding:6px 8px}
table td a{color:#8a8a8a}
table tbody tr:hover td{color:#eee}
table tbody tr:hover a{color:#eee}

.inbox_buttons{float:right; margin-right:112px}
.inbox_button{
	background:rgba(0,0,0,0.1); 
	border-radius:5px; 
	padding:4px; 
	font-size:12px; 
	text-transform:uppercase; 
	text-shadow:0; 
	font-weight:normal; 
	font-family:Arial; 
	margin-left:6px
}
.inbox_button:hover{
	background:rgba(0,0,0,0.2);
}

#pm_notification{background:rgba(0,0,0,0.6); border-radius:6px; padding:6px; top:40px; left:20px; font-color:#fff; position:fixed; z-index:777; border:1px solid #eee}
#pm_notification .close{font-weight:bold; padding-left:10px}

blockquote{border:1px solid #2a2a2a; margin:0; background:#424242; padding:4px; font-style:italic}
blockquote cite{font-weight:bold; border-bottom:1px solid #363636; font-style:normal; display:block; margin:4px 0}
pre{border:1px solid #2a2a2a; margin:0; background:#424242; padding:4px; overflow:auto; height:auto; max-height:200px}

#vote_response{position:fixed; bottom:15px; left:50%; width:200px; padding:5px; font-size:13px; text-align:center; margin-left:-100px; color:#0980a8; border:1px solid #b3d9e6; border-radius:5px; background:#d8eff6; display:none; z-index:100}

a.add_fav{background:url(../img/heart.png) no-repeat center}
a.add_fav:hover{background:url(../img/heart_hover.png) no-repeat center}
a.del_fav{background:url(../img/heart_hover.png) no-repeat center}

#preview-container{
	text-align:left; 
	border:1px solid #dedede; 
	width:588px; 
	background:#000}

#form {
	margin: 6px;
	text-align:center;
}

#preview-all{overflow:hidden; 
	border:4px solid #fff; 
	font-size:12px;
}

.pad{padding:40px}

#preview{border:1px solid #fff; width:500px; text-align:center}

.padd{padding:3px 3px 0 3px}

.preview-form{background:#000; color:white; width:500px; text-align:center; border:none; outline:0}

.preview-form:focus{outline:#00f solid 1px}

.h1{font-size:33px}

.h2{font-size:14px}

.titulo, h1, h2 {margin-top: 0;}

.demot {
	padding:50px;
	margin:5px auto 5px auto;
	background:#1a1a1a;
	overflow:visible; 
	width:70%;
}
.tle{
	color:gray;
	font-weight:bold; 
	font-size:18px; 
	padding:10px 0 10px 0;
	margin-bottom: 15px;
	border: 2px solid blue;
}

.recomendaciones {
	padding-left: 10px;
}

#upload label{width:20%; float:left; margin:2px 0}

#upload input{width:60%; margin:2px 0; float:right}

#img4 img, embed, iframe, object, video{max-width:100%; min-width:100%}


/*version 1.0 responsive*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

.tagcloud ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud ul li {
	display: inline-block;
	margin: 0 0 .3em 1em;
	padding: 2px;
}
.tagcloud ul li a {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em;
	background-color: #375A7F;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud ul li a::before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	width: 0;
	height: 0;
	border-color: transparent #375A7F transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud ul li a::after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 100%;
}
.tagcloud ul li span {
	display: block;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tagcloud ul li a:hover {
	background-color: #555;
	color: #fff;
}
.tagcloud ul li a:hover::before {
	border-right-color: #555;
}

/*Botones sociales rrssb*/
.shared{
	padding-top: 10px;
}

.rrssb-buttons li.rrssb-me-gusta a {
	background-color:#008600;
}
.rrssb-buttons li.rrssb-me-gusta a:hover {
	background-color:#005d00;
}
.rrssb-buttons.tiny-format li.rrssb-me-gusta a .rrssb-icon span {
	fill:#005d00;
}

.rrssb-buttons li.rrssb-no-me-gusta a {
	background-color:#CD0C06;
}
.rrssb-buttons li.rrssb-no-me-gusta a:hover {
	background-color:#a40904;
}
.rrssb-buttons.tiny-format li.rrssb-no-me-gusta a .rrssb-icon span {
	fill:#a40904;
}

.rrssb-buttons li.rrssb-favoritos a {
	background-color:#CD0C06;
}
.rrssb-buttons li.rrssb-favoritos a:hover {
	background-color:#a40904;
}
.rrssb-buttons.tiny-format li.rrssb-favoritos a .rrssb-icon span {
	fill:#a40904;
}

.rrssb-buttons li.rrssb-descargar a {
	background-color:#375A7F;
}
.rrssb-buttons li.rrssb-descargar a:hover {
	background-color:#2c4865;
}
.rrssb-buttons.tiny-format li.rrssb-descargar a .rrssb-icon span {
	fill:#2c4865;
}

/*sidebarF*/
.fixed {position: fixed;  top:10px; }

/*campus requeridos*/
.required {
	color: #FF0000;
	font:bold;
}

/*page de facebook y pinterest, responsive*/
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}
#pin-container > span {
    box-shadow: none !important;
    width: 100%;
    overflow: hidden;
}
